form{
    max-width:400px;
    width: 100%; 
    margin: 0 auto;
    padding: 0 20px;
    md-input-container{
        display: block;
    }
    button{
        display: block;
        margin: 20px 0;
    }
    .food_menu{
        visibility: hidden;
    }
}