<div class="menu_content">
  <div class="search_bar">
    <md-card>
      <div class="input-group row">
        <input class="form-control" type="search" placeholder="Search" />
        <span class="input-group-btn">
            <button class="btn btn-default">GO!</button>
        </span>
      </div>
    </md-card>

  </div>
  <div class="menu_nav">
    <md-card>
      <div class="nav_list">
        <div class="dropdown beverage_dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
           Beverage
            <span class="caret"></span>
        </button>
          <ul class="dropdown-menu beverage_menu">
            <li><a>Hot Drinks</a></li>
            <li><a>Cold Drinks</a></li>
            <li><a>Alcoholics</a></li>
          </ul>
        </div>
        <div class="dropdown food_dropdown">
          <button class="btn btn-default btn-group-sm dropdown-toggle" type="button"  data-toggle="dropdown">
            Food
            <span class="caret"></span>
        </button>
          <ul class="dropdown-menu food_menu" >
            <li><a>Veg</a></li>
            <li><a>Non-veg</a></li>
          </ul>
        </div>
      </div>
    </md-card>
  </div>
  <div class="menu-list">
    <md-card *ngFor="let item of items|async">
      <ul>
        <li>

          <span class="menu_name"> {{item.item}}</span>
          <span class="price">Rs.{{item.price}}</span>
          <button md-raised-button (click)="cart($event)">
            <md-icon>add_shopping_cart</md-icon>
          </button>
        </li>
      </ul>
    </md-card>
  </div>
</div>
