 <div class="menu_content">

    <ul class="category">
         <li><a md-button class="bevrage" data-toggle="modal" data-target="#bevrage_modal"><span>BEVRAGE</span></a></li>
        <li><a class="veg" data-toggle="modal" data-target="#veg_modal"><span>VEG</span></a></li>
        <li><a class="non-veg" data-toggle="modal" data-target="#non-veg_modal"><span>NON-VEG</span></a></li> 
    </ul>

    
            <div id="bevrage_modal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" md-mini-fab class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Bevrage</h4>
                    </div>
                    <div class="modal-body">
                        <md-card>
                            
                        </md-card>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
       
    
     
 </div>


