<div class="dashboard">

  <div class="user_profile">
    <div class="user_info">
      <div class="profile_pic"></div>
      <div class="user_detail"><span>{{username}}</span></div>
    </div>
  </div>

  <div class="sidenav">
    <ul>
      <li><a md-button routerLink="billing">Billing</a></li>
      <li><a md-button routerLink="cart">Orders</a></li>
      <li><a md-button routerLink="delivery">Delivery</a></li>
       <li><a md-button routerLink="reservations">Reservation</a></li> 
      <li><a md-button routerLink="menucms">Menucms</a></li>

    </ul>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>
