


.appWrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-gap: 10px;

    app-toolbar{
        position: fixed;
        top: 0;
        width: 100%;
        font-size: 15px;
        height: 56px;
        z-index: 100;

    }
    router-outlet{

    }
    app-navbar{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 64px;
        z-index: 100;
    
    }
}