<!-- <div class="user_profile">

    <h1>Edit Your Profile</h1>

    <form (submit)="saveProfile()">
        <md-input-container> 
        <input type="text" name="username" [(ngModel)]="profile.username" mdInput placeholder="username"/>
        </md-input-container>

        <md-input-container> 
            <input type="text" name="firstname" [(ngModel)]="profile.firstname" mdInput placeholder="firstname"/>
        </md-input-container>

        <md-input-container> 
            <input type="text" name="middlename" [(ngModel)]="profile.middlename" mdInput placeholder="middlename"/>
            
               
        </md-input-container>

        <md-input-container> 
            <input type="text" name="lastname" [(ngModel)]="profile.lastname" mdInput placeholder="lastname"/>
      </md-input-container>

      <button type="submit" md-raised-button class="form-control">Save Profile</button>
      <button type="reset" md-raised-button class="form-control">Reset</button>


    </form>
</div> -->