<div class="login_content container">
   
    <form class="login" (submit)="login()">
        <md-input-container>
            <span mdPrefix><md-icon>account_circle</md-icon></span>
            <input  type="email" [(ngModel)]="email" name="username" mdInput placeholder="email" [formControl]="passwordFormControl"/>
            <md-error *ngIf="usernameFormControl.hasError('required')"> 
                email required
            </md-error>
        </md-input-container>
        
        <md-input-container>
            <span mdPrefix><md-icon>lock</md-icon></span>
            <input  type="password" [(ngModel)]="password" name="password"  mdInput placeholder="password" [formControl]="passwordFormControl"/>
            <md-error *ngIf="passwordFormControl.hasError('required')"> 
                password required
            </md-error>
        </md-input-container>
        <md-checkbox>Remember Me</md-checkbox>

        <button type="submit" class="form-control" name="submit" value="login" md-raised-button>Login</button>
    
        <span><a>Forgot Password?</a></span>

        <button  type="button" class="form-control" class="form-control facebook_login" md-raised-button>Login With Facebook</button>

        <button  type="button" class="form-control" class="form-control twitter_login" md-raised-button>Login With Twitter</button>

        <button  type="button" class="form-control" class="form-control google_login" md-raised-button>Login With Google</button>
        
        
    </form>
  

</div>